section.main {
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  section.main {
    margin-bottom: 50px;
  }
}
section.main div.banner {
  background-color: #F2F5F6;
  padding: 73px 107px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 221px;
}
@media (max-width: 1280px) {
  section.main div.banner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media (max-width: 960px) {
  section.main div.banner {
    padding: 32px;
  }
}
@media (max-width: 640px) {
  section.main div.banner {
    grid-template-columns: 1fr;
  }
}
section.main div.banner img {
  width: 100%;
}
section.main div.banner div.text {
  max-width: 575px;
  display: grid;
  grid-gap: 24px;
}
@media (max-width: 960px) {
  section.main div.banner div.text {
    grid-gap: 16px;
  }
}
section.main div.banner div.text h2 {
  color: #2e5770;
}
section.main div.banner div.text span {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #0b1700;
}
@media (max-width: 960px) {
  section.main div.banner div.text span {
    font-size: 12px;
    line-height: 120%;
  }
}

section.reviews > div.container {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 92px;
}
@media (max-width: 1600px) {
  section.reviews > div.container {
    grid-gap: 32px;
  }
}
@media (max-width: 1280px) {
  section.reviews > div.container {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
section.reviews div.total {
  display: grid;
  width: 100%;
  max-width: 360px;
}
@media (max-width: 1600px) {
  section.reviews div.total {
    max-width: 320px;
  }
}
section.reviews div.total span.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #000;
  margin-bottom: 16px;
}
@media (max-width: 960px) {
  section.reviews div.total span.text {
    font-size: 12px;
    line-height: 120%;
  }
}
section.reviews div.total span.rate {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  margin-bottom: 15px;
}
@media (max-width: 960px) {
  section.reviews div.total span.rate {
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 5px;
  }
}
section.reviews div.total div.rating {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  section.reviews div.total div.rating {
    margin-bottom: 16px;
  }
}
section.reviews div.total div.rating div.stars {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 5px;
}
section.reviews div.total div.rating div.stars div.star.empty svg path {
  fill: transparent;
  stroke: #FED064;
  stroke-width: 1.5px;
}
section.reviews div.total div.rating span.count {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  color: #b0b0b0;
}
section.reviews div.total div.rating span.count::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #b0b0b0;
  margin-right: 10px;
}
@media (max-width: 960px) {
  section.reviews div.total div.rating span.count {
    font-size: 12px;
    line-height: 120%;
  }
}
section.reviews div.total button {
  background: black;
  color: white;
  border-radius: 0 25px;
  width: 100%;
  max-width: 324px;
}
section.reviews div.list {
  display: grid;
  grid-gap: 20px;
}
@media (max-width: 960px) {
  section.reviews div.list {
    grid-gap: 10px;
  }
}
section.reviews section.pagination {
  margin-top: 30px;
}
@media (max-width: 960px) {
  section.reviews section.pagination {
    margin-top: 20px;
  }
}
section.reviews section.pagination button {
  display: none;
}

section.pagination {
  margin-bottom: 120px;
}
@media (max-width: 960px) {
  section.pagination {
    margin-bottom: 50px;
  }
}
section.pagination button.more {
  width: 100%;
  background-color: #F8F8F8;
  border: unset;
  margin-top: 38px;
  margin-bottom: 40px;
}
@media (max-width: 960px) {
  section.pagination button.more {
    margin-top: 20px;
    margin-bottom: 30px;
    grid-column: content;
  }
}
section.pagination button.more:hover {
  background-color: #223A2F;
}
section.pagination div.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}
@media (max-width: 960px) {
  section.pagination div.pagination {
    grid-gap: 24px;
  }
}
section.pagination div.pagination div.prev, section.pagination div.pagination div.next {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  opacity: 0.5;
  font-weight: 400;
  text-transform: uppercase;
  color: #0b1700;
}
@media (max-width: 960px) {
  section.pagination div.pagination div.prev, section.pagination div.pagination div.next {
    font-size: 12px;
  }
}
section.pagination div.pagination div.prev:hover, section.pagination div.pagination div.next:hover {
  opacity: 1;
}
section.pagination div.pagination div.prev svg, section.pagination div.pagination div.next svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
section.pagination div.pagination div.prev svg path, section.pagination div.pagination div.next svg path {
  fill: #0B1700;
}
section.pagination div.pagination div.next svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
section.pagination div.pagination div.nums {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
}
section.pagination div.pagination div.nums span {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 37px;
  height: 37px;
  font-size: 18px;
  line-height: 167%;
  color: #575c60;
}
@media (max-width: 960px) {
  section.pagination div.pagination div.nums span {
    font-size: 12px;
    width: 23px;
    height: 23px;
  }
}
section.pagination div.pagination div.nums span:hover {
  font-weight: 500;
  color: #0b1700;
}
section.pagination div.pagination div.nums span.active {
  font-weight: 500;
  border-color: #0b1700;
  color: #0b1700;
}/*# sourceMappingURL=reviews.css.map */