include ../../common/_mixins.pug

section.blog
    div.container
        h2 Наш блог
        div.list
            +article('images/webp/15.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/16.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/17.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/18.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            