section.categories
    a(href="catalog.html" style="background-image: url('images/webp/2.webp')") Пуэр
    a(href="catalog.html" style="background-image: url('images/webp/3.webp')") Красный чай
    a(href="catalog.html" style="background-image: url('images/webp/4.webp')") белый чай
    a(href="catalog.html" style="background-image: url('images/webp/5.webp')") бирюзовый чай
    a(href="catalog.html" style="background-image: url('images/webp/6.webp')") белый чай
    a(href="catalog.html" style="background-image: url('images/webp/7.webp')") Красный чай
    a(href="catalog.html" style="background-image: url('images/webp/8.webp'); color: #223A2F") Красный чай
    a(href="catalog.html" style="background-image: url('images/webp/8.webp'); color: #223A2F") белый чай
    button смотреть все категории