section.collections
    div.container
        a(href="catalog.html").collection.white
            img(src="images/webp/14.webp", alt="")
            span Новые коллекции
            strong новинки осень 2022
        a(href="catalog.html").collection.white
            img(src="images/webp/10.webp", alt="")
            span Новые коллекции
            strong новинки 2022
        a(href="catalog.html").collection.white
            img(src="images/webp/11.webp", alt="")
            span Новые коллекции
            strong новинки 2022
        a(href="catalog.html").collection
            img(src="images/webp/12.webp", alt="")
            span Новые коллекции
            strong новинки 2022
        a(href="catalog.html").collection
            img(src="images/webp/13.webp", alt="")
            span Новые коллекции
            strong новинки 2022