section.main
    div.swiper.main
        div.swiper-wrapper
            div(style="background-image: url('images/webp/1.webp')").swiper-slide
                div.wrap
                    h1 Какой чай выбрать?
                    span Каждый вид имеет собственный вкус и обладает уникальными свойствами, которые могут подходить для одних людей и не подходить другим.
                    a.button Хочу найти свой чай
            div(style="background-image: url('images/webp/1.webp')").swiper-slide
                div.wrap
                    h1 Какой чай выбрать?
                    span Каждый вид имеет собственный вкус и обладает уникальными свойствами, которые могут подходить для одних людей и не подходить другим.
                    a.button Хочу найти свой чай
            div(style="background-image: url('images/webp/1.webp')").swiper-slide
                div.wrap
                    h1 Какой чай выбрать?
                    span Каждый вид имеет собственный вкус и обладает уникальными свойствами, которые могут подходить для одних людей и не подходить другим.
                    a.button Хочу найти свой чай
        div.swiper-navigation
            div.arrow: include ../../../images/swiper_arrow.svg
            div.arrow: include ../../../images/swiper_arrow.svg

        div.swiper-pagination