include ../../common/_mixins.pug

section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span Каталог
        
        h2 Каталог

        div.filters

            form.filter
                +select('select_category', 'Категория', 'Чай', 'Книги', 'Чайники', 'Нефрит')
                +select('select_taste', 'Вкус', 'Чай', 'Книги', 'Чайники', 'Нефрит')
                +select('select_ingridient', 'Ингредиенты в составе', 'Чай', 'Книги', 'Чайники', 'Нефрит')
                +select('select_price', 'Цена', 'от 300 до 700 рублей', 'от 700 до 1300 рублей', 'от 1300 до 2000 рублей')
                +select('select_country', 'Страна произрастания', 'Китай', 'Индия', 'Шри-Ланка', 'Кения', 'Индонения', 'Турция', 'Вьетнам')
                +select('select_available', 'Наличие', 'Нет в наличии', 'В наличиии')
                div(onclick="this.closest('form').reset();").reset
                    span Сбросить
                    include ../../../images/search_cross.svg

            form.sort
                +select('select_sort', 'Сортировать по', 'По алфавиту', 'Сначало дешевые', 'Сначало дорогие', 'Популярное')

            div.filter
                span Фильтры 
                span (1)

        div.description
            img(src="images/webp/16.webp", alt="").preview
            div.text
                span Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность экспериментов, поражающих по своей масштабности и грандиозности. Но тщательные исследования конкурентов преданы социально-демократической анафеме. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность экспериментов, поражающих по своей масштабности и грандиозности. Но тщательные исследования конкурентов преданы социально-демократической анафеме. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность экспериментов, поражающих по своей масштабности и грандиозности. Но тщательные исследования конкурентов преданы социально-демократической анафеме. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность экспериментов, поражающих по своей масштабности и грандиозности. Но тщательные исследования конкурентов преданы социально-демократической анафеме. Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает
            span(onclick="this.previousElementSibling.classList.toggle('full')").more Показать еще
