include ../../common/_mixins.pug

section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span Избранное

        div.title
            h2 Избранное
            form.sort
                +select('select_sort', 'Сортировать по', 'По алфавиту', 'Сначало дешевые', 'Сначало дорогие', 'Популярное')

        div.list
            +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
            +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
            +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
            +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
            +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
            +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
            +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
            +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
            +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
            +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
            +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')

script.
    products = document.querySelectorAll('a.product')
    products.forEach( product => {
        favourite = product.querySelector('div.favourite')
        favourite.classList.add('active')
    })