include ../../common/_mixins.pug

section.additional
    div.container

        div.tabs
            div.tabs_captions
                div.tab_caption.opened Описание
                div.tab_caption Рекомендации
                div.tab_caption Отзывы
            div.tabs_contents
                div.tab_content.opened
                    div.description
                        img(src="images/webp/37.webp", alt="")
                        div.text
                            p Гекуро переводится как «драгоценная капля» - это один из самых дорогих и необычных чаев Японии. Его принято подавать почётным гостям. Этот чай собирают только один раз в году — весной. Перед сбором кусты Гекуро накрывают на несколько дней, для того чтобы в чайном листе произошли изменения химического состава.В результате вкус чая получается очень мягким без привычной терпкости.
                            p Гекуро переводится как «драгоценная капля» - это один из самых дорогих и необычных чаев Японии. Его принято подавать почётным гостям. Этот чай собирают только один раз в году — весной. Перед сбором кусты Гекуро накрывают на несколько дней, для того чтобы в чайном листе произошли изменения химического состава.В результате вкус чая получается очень мягким без привычной терпкости.
                            p Гекуро переводится как «драгоценная капля» - это один из самых дорогих и необычных чаев Японии. Его принято подавать почётным гостям. Этот чай собирают только один раз в году — весной. Перед сбором кусты Гекуро накрывают на несколько дней, для того чтобы в чайном листе произошли изменения химического состава.В результате вкус чая получается очень мягким без привычной терпкости.
                            p Гекуро переводится как «драгоценная капля» - это один из самых дорогих и необычных чаев Японии. Его принято подавать почётным гостям. Этот чай собирают только один раз в году — весной. Перед сбором кусты Гекуро накрывают на несколько дней, для того чтобы в чайном листе произошли изменения химического состава.В результате вкус чая получается очень мягким без привычной терпкости.
                div.tab_content
                    div.products
                        h2 Вам может понравиться
                        div.swiper.products
                            div.swiper-wrapper
                                div.swiper-slide
                                    +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Пуэр Бай Я (Я Бао)', 'Тбелый чай Почки с деревьев пуэра 50 гр', '2100', '2540', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Фу Дин Бай ча «Мей Хуа Бин»', 'Белый чай лепешка 100 гр', '1000', '', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Бай Мудань', 'Белый пион белый чай 50 гр', '400', '', 'New | Hit', 'images/webp/9.webp')
                                div.swiper-slide
                                    +product('Бай хао Инь чжэнь', 'Серебряные иглы с белым ворсом белый чай 50 гр', '700', '820', 'New | Hit', 'images/webp/9.webp')
                            div.swiper-navigation
                                div.arrow: include ../../../images/swiper_arrow.svg
                                div.arrow: include ../../../images/swiper_arrow.svg
                div.tab_content
                    div.reviews
                        div.total
                            strong Отзывы о товаре
                            span.text Оставьте ваш отзыв, чтобы помочь нашим гостям определиться с выбором
                            span.rate 5.0 / 5.0
                            div.rating
                                div.stars
                                    div.star: include ../../../images/review_star.svg
                                    div.star: include ../../../images/review_star.svg
                                    div.star: include ../../../images/review_star.svg
                                    div.star: include ../../../images/review_star.svg
                                    div.star.empty: include ../../../images/review_star.svg
                                span.count 5 отзывов
                            button оставить отзыв

                        div.list

                            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
                            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
                            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
                            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)

                            include ../../sections/_pagination.pug
                