section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span Отзывы

        div.banner
            img(src="images/banner_review.svg", alt="")
            div.text
                h2 Благодаря вам мы становимся лучше!
                span Мы будем признательны, если вы оставите отзыв о коллекции, работе отдела клиентского сервиса и службы доставки или поделитесь мнением о качестве изделий.