include ../../common/_mixins.pug

section.reviews
    div.container

        div.total
            span.text Оставьте ваш отзыв, чтобы помочь нашим гостям определиться с выбором
            span.rate 5.0 / 5.0
            div.rating
                div.stars
                    div.star: include ../../../images/review_star.svg
                    div.star: include ../../../images/review_star.svg
                    div.star: include ../../../images/review_star.svg
                    div.star: include ../../../images/review_star.svg
                    div.star.empty: include ../../../images/review_star.svg
                span.count 5 отзывов
            button оставить отзыв

        div.list

            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)
            +review('Цзуньи Цзинь Му Дань Хун Ча', 'Золотой пион из Гуджоу2022 SHQ осень', '15.07.2022', 'Елена Башкина', 'Мне очень нравится вся линейка Марагоджип. Мягкий сбалансированный вкус и пониженное содержание кофеина. Покупаю его у вас уже очень давно!', 4)

            include ../../sections/_pagination.pug