section.faq#faq
    div.container
        h2 FAQ

        div.list
            div.accordion
                div.accordion_caption
                    span Что вы делаете для профилактики COVID–19?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Как стать участником программы лояльности?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Как накопить баллы?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Как начисляются бонусы?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Где мой заказ?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Куда мы доставляем заказы?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Как выбрать размер?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Нужного мне товара нет в наличии, появится ли он снова?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Что значит надпись ECO FRIENDLY CHOICE?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Коллекция MADE IN PORTUGAL производится в Португалии?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Изменить заказ?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.
            div.accordion
                div.accordion_caption
                    span Отменить заказ?
                    div.arrow: include ../../../images/currency_arrow.svg
                div.accordion_content
                    div.accordion_overflow
                        div.accordion_wrap
                            span Бонусы начисляются в течение 30 дней с момента получения вами заказа. Если доставка не осуществлена или был оформлен возврат/обмен — бонусы не начисляются.