section.payments#payment
    div.container
        h2 Cпособы оплаты
        div.list
            div.payment Рассрочка платежа
            div.payment Через Альфа-Клик
            div.payment Банковской картой
            div.payment: include ../../../images/yomoney.svg
            div.payment: include ../../../images/qiwi.svg