section.pagination
    div.container
    
        button.more показать ещё

        div.pagination
            div.prev
                include ../../images/currency_arrow.svg
                span назад
            div.nums
                span 1
                span.active 2
                span 3
            div.next
                span далее
                include ../../images/currency_arrow.svg