include ../../common/_mixins.pug

section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span Блог

        h2 Блог


        div.main_articles
            +article('images/webp/15.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/16.webp', '10/08/22 коллеции', 'Cамая знаменитая чайная традиция', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')


        div.navigation
            div.tags
                a(href="blog.html").active Все темы
                a(href="blog.html") Чай
                a(href="blog.html") Книги
                a(href="blog.html") Чайники
                a(href="blog.html") Нефрит
            div.total
                span Показано:
                span   10 из 35

        div.list
            +article('images/webp/14.webp', '15.07.2022', 'Лимитированные коллекции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/15.webp', '15.07.2022', 'Новые вкусы', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/16.webp', '15.07.2022', 'Итоги акции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/17.webp', '15.07.2022', 'Лимитированные коллекции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/18.webp', '15.07.2022', 'Новые вкусы', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/19.webp', '15.07.2022', 'Итоги акции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/15.webp', '15.07.2022', 'Лимитированные коллекции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/16.webp', '15.07.2022', 'Новые вкусы', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')
            +article('images/webp/15.webp', '15.07.2022', 'Итоги акции', 'Предварительные выводы неутешительны: семантический разбор внешних противодействий обеспечивает актуальность…')

