section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            a(href="blog.html") Новости
            span Путешествуем с новым сезонным меню напитков с собой

        div.title
            div(onclick="window.history.go(-1); return false;").back
                include ../../../images/back_arrow.svg
                span Назад
            h2 Путешествуем с новым сезонным меню напитков с собой!

        div.content
            img(src="images/webp/29.webp", alt="")
            h2 Красоты родного края — вот главный вдохновитель нового сезонного меню в чае!
            p По традиции мы взяли интервью у руководительницы направления — Юлии Зайцевой. Она поделилась с нами историей создания нового сезонного меню, познакомила с самыми запоминающимися сочетаниями, вдохновила захватывающей концепцией меню — созерцанием первозданной природы.
            div.note «Не опускать руки очень помогает короткая дистанция между тем, что делаешь и результатом», — Дарья Байбакова о главных достижениях «Ночлежки» и том, почему проблема бездомности касается каждого

            h3 Повлияла ли учёба в Школе управления СКОЛКОВО на ваше решение работать в «Ночлежке»?
            p Нет, в Школу СКОЛКОВО я пришла уже директором «Ночлежки» в Москве, к этому времени я почти три года там работала. А вообще в «Ночлежку» я пришла после 10 лет работы аудитором в компании «большой четвёрки». Совпало два фактора. Я немного устала от прежней работы: мне казалось, что ничего принципиально нового в моей аудиторской жизни уже не будет. 
            p И в то же время заболела моя бабушка. Конечно, многие сталкиваются с тяжёлыми болезнями родственников, но в тот момент мои жизненные приоритеты резко поменялись. Раньше думала, что уже не самая любимая, но успешная работа нужна для ощущения стабильности и того уровня жизни, который даст мне возможность выбрать хороших врачей и правильную больницу, если со мной или моими близкими что‑то случится. 
            p Все так и было, но ещё я поняла, что, когда случается беда, все это будто отходит на второй план. В первую очередь мне было нужно, чтобы кто‑то встал рядом и сказал: «Сейчас будет так, а потом вот так, вам нужно заранее подумать об этом. И помни, что вы не одни.

            div.slider
                div.swiper.article
                    div.swiper-wrapper
                        div.swiper-slide: img(src="images/webp/25.webp", alt="")
                        div.swiper-slide: img(src="images/webp/26.webp", alt="")
                        div.swiper-slide: img(src="images/webp/27.webp", alt="")
                        div.swiper-slide: img(src="images/webp/28.webp", alt="")
                        div.swiper-slide: img(src="images/webp/25.webp", alt="")
                        div.swiper-slide: img(src="images/webp/26.webp", alt="")
                        div.swiper-slide: img(src="images/webp/27.webp", alt="")
                        div.swiper-slide: img(src="images/webp/28.webp", alt="")
                        div.swiper-slide: img(src="images/webp/25.webp", alt="")
                        div.swiper-slide: img(src="images/webp/26.webp", alt="")
                        div.swiper-slide: img(src="images/webp/27.webp", alt="")
                        div.swiper-slide: img(src="images/webp/28.webp", alt="")
                div.swiper-navigation
                    div.arrow: include ../../../images/swiper_arrow.svg
                    div.arrow: include ../../../images/swiper_arrow.svg

            h3 Повлияла ли учёба в Школе управления СКОЛКОВО на ваше решение работать в «Ночлежке»?
            p Нет, в Школу СКОЛКОВО я пришла уже директором «Ночлежки» в Москве, к этому времени я почти три года там работала. А вообще в «Ночлежку» я пришла после 10 лет работы аудитором в компании «большой четвёрки». Совпало два фактора. Я немного устала от прежней работы: мне казалось, что ничего принципиально нового в моей аудиторской жизни уже не будет. 
            p И в то же время заболела моя бабушка. Конечно, многие сталкиваются с тяжёлыми болезнями родственников, но в тот момент мои жизненные приоритеты резко поменялись. Раньше думала, что уже не самая любимая, но успешная работа нужна для ощущения стабильности и того уровня жизни, который даст мне возможность выбрать хороших врачей и правильную больницу, если со мной или моими близкими что‑то случится. 
            p Все так и было, но ещё я поняла, что, когда случается беда, все это будто отходит на второй план. В первую очередь мне было нужно, чтобы кто‑то встал рядом и сказал: «Сейчас будет так, а потом вот так, вам нужно заранее подумать об этом. И помни, что вы не одни.
            p Нет, в Школу СКОЛКОВО я пришла уже директором „Ночлежки“ в Москве, к этому времени я почти три года там работала. А вообще в „Ночлежку“ я пришла после 10 лет работы аудитором в компании „большой четвёрки“. Совпало два фактора. Я немного устала от прежней работы: мне казалось, что ничего принципиально нового в моей аудиторской жизни уже не будет. 
            p И в то же время заболела моя бабушка. Конечно, многие сталкиваются с тяжёлыми болезнями родственников, но в тот момент мои жизненные приоритеты резко поменялись. Раньше думала, что уже не самая любимая, но успешная работа нужна для ощущения стабильности и того уровня жизни, который даст мне возможность выбрать хороших врачей и правильную больницу, если со мной или моими близкими что‑то случится. 
            p Все так и было, но ещё я поняла, что, когда случается беда, все это будто отходит на второй план. В первую очередь мне было нужно, чтобы кто‑то встал рядом и сказал: „Сейчас будет так, а потом вот так, вам нужно заранее подумать об этом. И помни, что вы не одни.