section.navigation
    div.container
        div.tags
            a(href="article.html").tag Чай
            a(href="article.html").tag Чай
            a(href="article.html").tag Напитки
            a(href="article.html").tag Напитки
            a(href="article.html").tag Горячие напитки
            a(href="article.html").tag Горячие напитки
            a(href="article.html").tag Новинки осени
            a(href="article.html").tag Новинки осени
        div.prevnext
            a(href="article.html").prev
                img(src="images/article_arrow.svg", alt="")
                div.text
                    span Предыдущая статья
                    strong Путешествуем с новым сезонным меню напитков с собой!
            a(href="article.html").next
                div.text
                    span Следующая статья
                    strong Путешествуем с новым сезонным меню напитков с собой!
                img(src="images/article_arrow.svg", alt="")