extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/catalog.css")

block content
    include sections/catalog/_main.pug
    include sections/catalog/_products.pug
    include sections/_pagination.pug
    include sections/_seo.pug