extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/delivery.css")

block content
    include sections/delivery/_deliveries.pug
    include sections/delivery/_payments.pug
    include sections/delivery/_faq.pug
    include sections/_seo.pug