extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/pages.css")

block content
    section.pages
        div.container
            a(href="index.html") Главная
            a(href="index.html") Каталог
            a(href="index.html") Карточка
            a(href="index.html") Корзина
            a(href="index.html") Отзывы
            a(href="index.html") Блог
            a(href="index.html") Детальная страница
            a(href="index.html") Доставка
            a(href="index.html") Избранное
            a(href="index.html") О компании
            a(href="index.html") Контакты