extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/pages.css")

block content
    section.pages
        div.container
            a(href="index.html", target="blank") Главная
            a(href="catalog.html", target="blank") Каталог
            a(href="product.html", target="blank") Карточка
            a(href="cart.html", target="blank") Корзина
            a(href="reviews.html", target="blank") Отзывы
            a(href="blog.html", target="blank") Блог
            a(href="article.html", target="blank") Детальная страница
            a(href="delivery.html", target="blank") Доставка
            a(href="favourite.html", target="blank") Избранное
            a(href="about.html", target="blank") О компании
            a(href="contacts.html", target="blank") Контакты