dialog(data-modal-name="auth")
    div.container

        div(data-modal-close).cross
            include ../../../images/modal_cross.svg

        div.content
            h3 Авторизация

            form(action="") 
                input(type="text", placeholder="Email / Телефон", required)
                fieldset.text
                    input(type="password", placeholder="Пароль", required)
                    div.eye(onclick="showPassword(this)")
                        div.show_password
                            include ../../../images/show_password.svg
                        div.hide_password
                            include ../../../images/hide_password.svg

                div.remember
                    fieldset.switch
                        label.checkbox2
                            input(type="checkbox", name="")
                            span
                        span Запомнить меня
                    a(onclick="createDialog('password')") Забыли пароль?
                button Войти
            div.socials
                span или
                div.list
                    a(href="index.html"): img(src="images/google.svg", alt="")
                    a(href="index.html"): img(src="images/vk.svg", alt="")
                    a(href="index.html"): img(src="images/facebook.svg", alt="")
                    a(href="index.html"): img(src="images/apple.svg", alt="")
            hr
            span.register Нет аккаунта? #[a(onclick="createDialog('register')") Зарегистрироваться]
