dialog(data-modal-name="cart")
    div.container

        div(data-modal-close).cross
            include ../../../images/modal_cross.svg

        div.content
            h3 Корзина

            div.list
                a(href="product.html").cart_product
                    img(src="images/webp/9.webp", alt="")
                    div.info
                        span.title Огранический шу пуэр Тулинь, точа Е813, гнездо 336гр, 2014 год
                        span.text Золотой пион из Гуджоу 2022 SHQ осень
                        span.details 25 гр - 1 000 ₽
                        span.price 2 400 ₽ / 2 040 ₽
                a(href="product.html").cart_product
                    img(src="images/webp/9.webp", alt="")
                    div.info
                        span.title Огранический шу пуэр Тулинь, точа Е813, гнездо 336гр, 2014 год
                        span.text Золотой пион из Гуджоу 2022 SHQ осень
                        span.details 25 гр - 1 000 ₽
                        span.price 2 400 ₽ / 2 040 ₽
                a(href="product.html").cart_product
                    img(src="images/webp/9.webp", alt="")
                    div.info
                        span.title Огранический шу пуэр Тулинь, точа Е813, гнездо 336гр, 2014 год
                        span.text Золотой пион из Гуджоу 2022 SHQ осень
                        span.details 25 гр - 1 000 ₽
                        span.price 2 400 ₽ / 2 040 ₽
                a(href="product.html").cart_product
                    img(src="images/webp/9.webp", alt="")
                    div.info
                        span.title Огранический шу пуэр Тулинь, точа Е813, гнездо 336гр, 2014 год
                        span.text Золотой пион из Гуджоу 2022 SHQ осень
                        span.details 25 гр - 1 000 ₽
                        span.price 2 400 ₽ / 2 040 ₽

            span.result Итого: 2 290 ₽

            div.buttons
                a(href="cart.html").button.next Перейти к оформлению
                a(data-modal-close).button.back продолжить покупки
