section.main
    div.container

        div.breadcrumbs
            a(href="index.html") Главная
            span О компании
            
        div.mission
            h2 Наша миссия—просвящение
            span Наша просветительская миссия — это миссия про свет, про наш внутренний свет, делясь которым, мы становимся духовно богатыми, а наша Кантата более сильной и стабильной.

        div.list
            div.tea
                div.text
                    div.text_wrap
                        h3 Darman Tea
                        span Все травы Darman Tea собираются в экологических регионах Армении, благодаря чему они содержат в себе максимум вкуса и пользы.
                        button подробнее
                div.image
                    img(src="images/webp/22.webp", alt="")
            div.tea
                div.image
                    img(src="images/webp/23.webp", alt="")
                div.text
                    div.text_wrap
                        h3 Oil&Vinegar
                        span Oil&Vinegar — это отличающиеся невероятным качеством и богатым вкусом продукты средиземноморской кухни: масла, уксусы, соусы, паста, специи и многое другое.
                        button подробнее

        div.note
            div.image
                img(src="images/webp/24.webp", alt="")
            div.text
                div.text_wrap
                    h2 CHAAI CLO
                    span Лекала, форма, цвет, вязка — мы выверяем всё, чтобы создавать вещи с идеальной посадкой, которые носятся годами.
                    h3 Повлияла ли учеба в Школе управления СКОЛКОВО на ваше решение работать в «Ночлежке»?
                    span Нет, в Школу СКОЛКОВО я пришла уже директором «Ночлежки» в Москве, к этому времени я почти три года там работала. А вообще в «Ночлежку» я пришла после 10 лет работы аудитором в компании «большой четверки». Совпало два фактора. Я немного устала от прежней работы: мне казалось, что ничего принципиально нового в моей аудиторской жизни уже не будет.
                    span Все так и было, но еще я поняла, что, когда случается беда, все это будто отходит на второй план. В первую очередь мне было нужно, чтобы кто-то встал рядом и сказал: «Сейчас будет так, а потом вот так, вам нужно заранее подумать об этом. И помни, что вы не одни.