footer
    div.top

        div.logotype
            a(href="index.html").logotype
                div.emblem: include ../../images/logotype_emblem.svg
                div.name: include ../../images/logotype_name.svg
            span г. Москва, Автомобильный #[br]пр. 10, стр. 4

        menu.counsumer
            strong покупателю
            a(href="delivery.html") Доставка
            a(href="payment.html") Оплата
            a(href="contacts.html") Контакты
            a(href="return.html") Возврат

        menu.counsumer
            strong о компании
            a(href="about.html") О нас
            a(href="blog.html") Блог
            a(href="reviews.html") Отзывы

        menu.counsumer
            strong покупателю
            a(href="catalog.html") Чай
            a(href="catalog.html") Книги
            a(href="catalog.html") Чайники
            a(href="catalog.html") Нефрит

        div.contacts
            strong связаться с нами
            a(href="mailto:hello@chaai.com").email hello@chaai.com
            a(href="tel:88007750719").phone 8 800 775⁠-07⁠-19
            span бесплатный звонок по России

    div.bottom
        div.wrap
            a(href="policy.html") Политика конфиденциальности
            span Сhaai © 2011–2022 Все права защищены
            div.payments
                span Принимаем оплату:
                div.list 
                    img(src="images/mir.svg", alt="")
                    img(src="images/visa.svg", alt="")
                    img(src="images/mastercard.svg", alt="")