header
    div.container

        a(href="index.html").logotype
            div.emblem: include ../../images/logotype_emblem.svg
            div.name: include ../../images/logotype_name.svg

        menu
            li: a(href="catalog.html") Чай
            li: a(href="catalog.html") книги
            li: a(href="catalog.html") чайники
            li: a(href="catalog.html") нефрит

        form(tabindex="1").search
            div.search_icon: include ../../images/search.svg
            input(type="search", placeholder="Поиск")

        div.personal
            div.menu: include ../../images/menu.svg
            div.search: include ../../images/search.svg
            div(data-modal-target="auth").account: include ../../images/account.svg
            a(href="favourite.html").favourite: include ../../images/favourite.svg
            a(href="cart.html").cart
                include ../../images/cart.svg
                span (0)

        div.currency
            div(onclick="this.parentNode.classList.toggle('open')").current
                span ₽
                img(src="images/currency_arrow.svg", alt="")
            div.list
                a(href="index.html")  ₽
                a(href="index.html")  $
                a(href="index.html")  €